.about {
  background-color: #474f46;
  height: fit-content;
  align-content: center;
  padding: 70px 20px;
}

.about__container {
  max-width: 1245px;
  margin: 0 auto;
  position: relative;
}

.about__title {
  font-family: "Micra", sans-serif;
  font-weight: normal;
  font-size: 35px;
  color: #f0f1e9;
  margin: 0;
  letter-spacing: 2px;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  gap: 30px;
}

.about__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  font-family: "Involve", sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #f0f1e9;
  max-width: 590px;
  margin: 0;
}

.about__box {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: -20px;
  right: 0px;
  padding: 20px 30px;
  border-radius: 20px;
  background-color: rgba(216, 216, 216, 0.25);
  transition: 0.2s ease;
}

.about__link {
  font-family: "Involve", sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #f0f1e9;
  text-decoration: none;
}

.about__box:hover {
  opacity: 0.7;
}

.about__image-link {
  width: 20px;
}

.about__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.about__image {
  border-radius: 45px;
  max-width: 600px;
  padding: 0;
}

@media screen and (max-width: 1250px) {
  .about__title {
    font-size: 28px;
  }

  .about__text {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .about__box {
    transform: scale(0.7);
    top: 10px;
  }
  .about {
    padding: 0 40px;
  }

  .about__container {
    padding: 40px 0;
  }
  .about__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .about__block:last-child {
    flex-direction: column-reverse;
  }

  .about__title {
    font-size: 21px;
  }

  .about__image {
    max-width: 100%;
  }

  .about__text {
    max-width: 98%;
  }
}

@media screen and (max-width: 550px) {
  .about__container {
    padding-top: 100px;
  }
}
