.confirm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  backdrop-filter: blur(4px);
  z-index: 100;
}

.confirm__opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.confirm__container {
  position: relative;
  margin: auto;
  padding: 40px;
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  transform: scale(0.9);
  transition: transform 0.3s ease;
}

.confirm__opened .confirm__container {
  transform: scale(1);
}

.confirm__title {
  font-family: "Involve", sans-serif;
  font-size: 40px;
  margin: 0;
  padding-bottom: 40px;
  text-align: center;
}

.confirm__description {
  font-family: "Involve", sans-serif;
  font-weight: lighter;
  font-size: 20px;
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .confirm__title {
    font-size: 25px;
  }

  .confirm__description {
    font-size: 15px;
  }
}
