.news {
  background-color: #f0f1e9;
  height: fit-content;
  align-content: center;
  padding: 70px 20px;
}

.news__container {
  max-width: 1245px;
  margin: 0 auto;
}

.news__title {
  font-family: "Micra", sans-serif;
  font-weight: normal;
  font-size: 35px;
  color: #222;
  margin: 0;
}

.news__link {
  transition: 0.2s ease;
  cursor: pointer;
}

.news__link:hover {
  opacity: 0.8;
}

.news__image {
  max-width: 565px;
  width: calc(100% - 2px);
  object-fit: contain;
  border-radius: 45px;
  border: 1px solid #222;
}

.news .slider__controller {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 70px;
  color: #222;
  width: 100%;
}

.slider__controller-mobile {
  gap: 120px;
}

.swiper-pagination-bullet {
  width: 8px;
}

.news .swiper-pagination-bullet-active1 {
  background: #222;
  opacity: 1;
}

.swiper__button {
  max-height: 32px;
  font-size: 31px;
  cursor: pointer;
  z-index: 20;
  transition: 0.2s ease;
}

.swiper__button:active {
  opacity: 0.4;
}

@media screen and (max-width: 1150px) {
  .news__title {
    font-size: 21px;
  }
}

@media screen and (max-width: 465px) {
  .news__title {
    text-align: center;
  }
}
