.news {
  background-color: #f0f1e9;
  height: fit-content;
  align-content: center;
  padding: 70px 20px;
}

.news__container {
  max-width: 1245px;
  margin: 0 auto;
}

.news__title {
  font-family: "Micra", sans-serif;
  font-weight: normal;
  font-size: 35px;
  color: #222;
  margin: 0;
}

.news__image {
  max-width: 565px;
  width: calc(100% - 2px);
  object-fit: contain;
  border-radius: 45px;
  border: 1px solid #222;
}

@media screen and (max-width: 1150px) {
  .news__title {
    font-size: 21px;
  }
}

@media screen and (max-width: 465px) {
  .news__title {
    text-align: center;
  }
}
