.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: fixed;
  top: 0;
  z-index: 1000; */
  padding: 20px 0;
  max-width: 1245px;
  margin: 0 auto;
  width: 100%;
}

.nav__btn {
  display: none;
  font-size: 30px;
  color: #fff;
  transition: 0.3s ease;
  cursor: pointer;
}

.nav__links {
  display: flex;
  align-items: center;
  padding-left: 120px;
  margin: 0;
  gap: 40px;
  list-style: none;
  line-height: 13px;
  filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.25));
}

.nav__links li {
  transition: 0.3s ease;
  color: #d8d8d8;
}

.nav__links li:hover {
  transform: scale(1.05);
}

.nav__link {
  font-family: "Micra", sans-serif;
  font-weight: normal;
  font-size: 13px;
  color: #d8d8d8;
  background-color: transparent;
  border: none;
  text-decoration: none;
  letter-spacing: 1px;
  transition: 0.3s ease;
  cursor: pointer;
}

.nav__link:hover {
  color: #fff;
  transform: scale(1.07);
}

.social {
  display: flex;
  gap: 15px;
}

.social a {
  display: flex;
}

.social__icon {
  width: 17px;
  filter: invert(95%) sepia(0%) saturate(1%) hue-rotate(283deg) brightness(98%)
    contrast(81%);
  transition: 0.3s ease;
}

.social__icon:hover {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(337deg)
    brightness(106%) contrast(104%);
  transform: scale(1.1);
}

@media screen and (max-width: 1250px) {
  .nav__link {
    font-size: 11px;
  }

  .social__icon {
    width: 15px;
  }
}

@media screen and (max-width: 1150px) {
  .nav__container {
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    position: fixed;
    right: -200%;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 11;
    transition: right 0.5s ease;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.6);
  }

  .nav__container-active {
    right: 0;
  }

  .nav__links {
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    padding: 0;
  }

  .nav__link {
    font-size: 16px;
    color: #fff;
  }

  .social__icon {
    width: 20px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(337deg)
      brightness(106%) contrast(104%);
  }

  .nav__btn {
    display: block;
    position: absolute;
    right: 20px;
    z-index: 11;
    top: 20px;
  }

  .nav__btn-active {
    position: fixed;
    right: 20px;
    /* transform: rotate3d(0, 1, 0, 180deg); */
  }
}

@media screen and (min-width: 2000px) {
  .nav__container {
    transform: scale(1.5);
  }
}
